 body {
        background-color: #121212;
        color: white;
      }

      #anime-list .col,
      #anime-weekly .col {
        display: flex; 
      }
     
      .card {
        background-color: #1e1e1e;
        color: white;
        border: 1px solid #333;
        display: flex;
        flex-direction: column;
      }

      .card-title {
        display: -webkit-box;
        
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 2.6rem;
      }

      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
      }

      .anime-img {
        width: 100%;
        aspect-ratio: 3 / 4;
        object-fit: cover;
      }

     
      @media (max-width: 576px) {
        .anime-img {
          aspect-ratio: 2 / 3; 
        }
        h2 {
          font-size: 1.2rem;
        }
      }
      /*  CSS KHUSUS LIGHT MODE */
      body.light-mode {
        background-image: none;
        background-color: #f8f9fa; 
        color: #212529; 
      }

      /* Ubah warna Kartu saat Light Mode */
      body.light-mode .card {
        background-color: #ffffff; 
        color: #212529; 
        border: 1px solid #ddd; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important; 
      }

      /*  warna judul saat Light Mode */
      body.light-mode h2 {
        color: #0d6efd; 
      }

     
      body.light-mode .badge {
        background-color: #0d6efd !important; /
      }